// stylelint-disable selector-no-qualifying-type

//
// Textual form controls
//

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;

    &:focus {
        border-color: #fff;
        //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.336);
    }
  
  }

.form-control.custom_input.is-invalid, .was-validated .form-control.custom_input:invalid{
    padding-right: .75rem;
    background-image: none;
    background-color: rgba(186, 33, 16, 0.08);

    &::placeholder {
        color: #BA2110;
    }


}


.form-control.basic{
    background: #F7F9FC;
    border: 1px solid #E4E9F2;

}

.form-control.disable{
    opacity: 0.5;
    background: #F7F9FC;
    border: 1px solid #E4E9F2;
}

.form-control.is-valid, .was-validated .form-control.custom_input:valid{
    background-image: none;
    padding-right: .75rem;
}

.custom_input.is-invalid~.invalid-feedback, .custom_input.is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip{
    position: absolute;
    bottom: 2px;
}

.custom_input{
    color: #8F9BB3;
    &::placeholder{
        font-size: 15px;
        line-height: 20px;
        font-family: Open Sans;
        font-weight: 400;
        color: #8F9BB3;
    }
    
    margin-bottom: 24px; 
    height: 40px; 
}

.input-icon{
    i{
        top: 0;
        position: absolute;
        height: 38px;
        line-height: 38px;
        right: 22px;
        color: #8F9BB3;

        &.disable{
            color: #C5CEE0;
        }
    }

    .custom_input{
        padding-right: 40px;
    }
}

.custom_label{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #8F9BB3;
}