.tooltip_custom {
    position: relative;
    display: inline-block;
    line-height: 16px;
    //background: #286F8A;
    //padding: 0px 8px 5px 8px;
    //margin: -10px 0;
    cursor: pointer;
    
    &:hover .info_custom,
    &:focus .info_custom {
        visibility: visible;
        opacity: 1;
        transform: translate5d(0,0,0);
    }

    .info_custom {
        box-sizing: border-box;
        position: absolute;
        bottom: 38px;
        left: -68px;
        display: block;
        background: #F7F9FC;
        border: 0.75px solid #8F9BB3;
        border-radius: 4px;
        width: 154px;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        cursor: text;
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0,-20px,0);
        transition: all .5s ease-out;
        
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 14px;
            bottom: -14px;
            left: 0;
        }
                    
        &:after {
            position: absolute;
            content: '';
            width: 9px;
            height: 9px;
            transform: rotate(45deg);
            bottom: -5px;
            left: 50%;
            margin-left: -5px;
            background: #F7F9FC;
            border-bottom: 0.75px solid #8F9BB3;
            border-right: 0.75px solid #8F9BB3;
        }
        
        .pronounce_custom {
            display: block;
            background: #fff;
            color: #286F8A;
            padding: 8px 17px 10px 17px;
            line-height: 16px;
            
            .fa {
                position: relative;
                margin-left: 10px;
                top: 1px;
                cursor: pointer;
                transition: all .2s ease-out;
                
                &:hover {
                    transform: scale(1.15) translate3d(0,0,0);
                    backface-visibility: none;
                }
            }
        }
        
        .text_custom {
            display: block;
            //padding: 13px 17px;
        }
    }
}

.tooltip_invoice {
    position: relative;
    display: inline-block;

    &:hover .text_invoice {
        visibility: visible;
        transform: scale(1.15) translate3d(0,0,0);
    }

  
  .text_invoice {
    visibility: hidden;
    width: 130px;
    background-color: $clr-i400;
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    border-radius: 6px;
    padding: 2px 0px;
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 110%;
    transition: all 0.15s ease-in-out;

    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 99%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent $clr-i400;
    }
  }

}

.tooltip_contracts {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover .text_contracts {
        visibility: visible;
        transform: scale(1.15) translate3d(0,0,0);
    }

  
  .text_contracts {
    visibility: hidden;
    position: absolute;
    margin-left: -200px; /* this is the trick that will make sure the content can go up to 180px (an arbitrary big value) */
    max-height: 180px; /* your max-width*/
    padding: 10px;
    z-index: 1;
    top: -12px;
    right: 223%;
    background:blue;
    background-color: $clr-i600;
    color: #fff;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    border-radius: 6px;
    transition: all 0.15s ease-in-out;

    &::after{
        content: "";
        position: absolute;
        top: 40%;
        left: 99%;
        margin-top: -3px;
        border-width: 8px 0 8px 10px;
        border-style: solid;
        border-color: transparent transparent transparent $clr-i600;
    }
  }

}

.tooltip_rightof_item {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover .text_rightof_item {
        visibility: visible;
        transform: scale(1.15) translate3d(0,0,0);
    }

  
  .text_rightof_item {
    visibility: hidden;
    position: absolute;
    margin-left: -200px; /* this is the trick that will make sure the content can go up to 180px (an arbitrary big value) */
    max-height: 180px; /* your max-width*/
    padding: 10px;
    z-index: 1;
    top: -12px;
    right: -300%;
    background:blue;
    background-color: $clr-i600;
    color: #fff;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    border-radius: 6px;
    transition: all 0.15s ease-in-out;

    &::after{
        content: "";
        position: absolute;
        top: 40%;
        right: 99%;
        margin-top: -3px;
        border-width: 8px 10px 10px 8px;
        border-style: solid;
        border-color: transparent $clr-i600  transparent transparent;
    }
  }

}