.invoice_filter{
  align-self: end;

  .period{ 
    font-weight:bold;
    align-self: start;
    padding-top: 10px;
   }

   .til{ 
    font-weight:bold;
    align-self: center;
    //padding-bottom: 3rem;
   }
   .btn-invoice{ 
    height: 38px;
    width: 20%;
   }

  .tariff_action{
    padding-bottom: 0px;

     @media screen and (min-width: 768px){
      justify-content: start;
     }
     
   }

  .form-control .basic{ 
    background: none;
  }

}

@media (min-width: 570px) and (max-width: 6650px){
  table.invoice td.disabled {
    
    display: none;
    
  }
}


