.invoice_filter{
  align-self: end;
  padding-top: 15px;

  .period{ 
    font-weight:bold;
    align-self: start;
    padding-top: 8px;
   }

   .til{ 
    font-weight:bold;
    align-self: start;
    
   }
   .btn-invoice{ 
    height: 38px;
    width: 20%;
   }

   .btn-report{ 
    height: 38px;
    width: 33%;
   }

  .tariff_action{
    padding-bottom: 0px;

     @media screen and (min-width: 768px){
      justify-content: start;
     }
     
   }

  .form-control .basic{ 
    background: none;
  }

}

.invoice_filter span,.til{  padding-top: 5px;  }

@media (min-width: 570px) and (max-width: 6650px){
  table.invoice td.disabled {
    
    display: none;
    
  }
}

.invoice_filter .tariff_action .tariff_action_switch{

  i{
      margin-left: 8px;
      @media screen and (max-width: 980px){
          display: none;
      }
  }

  a{
    color: #7D1120;

    &:hover{
      background-color: #7D1120;
      color: #fff;
    }

  }

  &:focus{
    outline: 0px;
  }

  &:hover{
      background-color: #7D1120;
      color: #fff;
  }
}


