.customer_contracts{

  //später ausschalten oder ändern
  .filter-wrap {
    max-width: 9930px;
    padding: 300px 0 0;

    &.show{
      margin-bottom: 130px;
    }
  }

  //später ausschalten oder ändern
  .content-section {
    max-width: 100%;
    margin: 25px 0;
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    @media (max-width: 1200px){
      width: 100%;
      max-width: 100%;
    }
  }

  .expanded-options {
    display: none;
  }

  .form-line {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 1200px){
      flex-wrap: wrap;
    }

    @media (max-width: 640px){
      flex-direction: column;
    }
  }

  .form-line:last-child {
    margin-bottom: 0;
  }
  
  .form-line:empty {
    display: none;
  }

  &.filter{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 0 20px 30px;

    @media (max-width: 1200px){
      padding: 0 20px 30px;
    }

    @media (max-width: 940px){
      padding: 0;
    }

    @media (max-width: 640px){
      position: relative;
    }

    & .trigger{
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 20px;
      color: $clr-b600;
      cursor: pointer;
      margin-left: -5px;
      transition: color .3s;

      @media (max-width: 640px){
        margin: 10px 0px 10px -5px;
      }

      &:hover{ 
        color: $clr-danger;
        cursor: pointer;
        
        & .icon{ color: $clr-danger }
      }

      & .icon{
        margin-right: 20px;
        font-size: 30px;
        transition: color .2s;
        color: rgba(143, 155, 179, 0.52);
      }
    }

    & .space-between{
      justify-content: space-between;
    }

    & .filter-status{
      min-width: 180px;
      max-width: 330px;
      flex: 1;

      & .status-group-draft { color: #e0e0e0; }

      & .status-group-ready-sending { color: #2eb4ff; }

      & .status-group-sending { color: #a781e5; }

      & .status-group-in-progress { color: #ffa81e; }

      & .status-group-post-processing { color: #92493a; }

      & .status-group-extend { color: #258764; }

      & .status-group-negative,
        .status-group-technical_cancel { color: #eb5757; }

      & .status-group-immutable,
        .status-group-expired { color: #010101; }


    }

    & .filter-energy-type { width: 120px; }

    & .filter-owner { width: 235px; }

    & .filter-client-type{
      width: 205px;
      margin-right: 0;
    }

    & .form-cell{

      @media (max-width: 640px){
        max-width: 100%;
        width: 100%;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  [type="checkbox"]+label{
    display: inline;
    position: relative;
    padding-left: 28px;
    font-size: 15px;
    color: #7e8a95;
    cursor: pointer;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -2px;
      width: 20px;
      height: 20px;
      border: 1px solid #008eff;
      border-radius: 4px;
      background-color: #fff;

      &:hover::before{
        border: 1px solid #29a3db;
      }
    }

    &::after{
      content: '';
      position: absolute;
      display: block;
      left: 4px;
      top: 2px;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      background-color: #eee;
    }

  }

  .status-groups {
    margin-bottom: 30px;

    @media (max-width: 740px) { display: none; }

  }

  .status-groups__item-wrap {
    position: relative;
    margin-right: 15px;

    @media (max-width: 940px){
      &:first-child{ display: none; }
    }
  }

  .status-groups__item-wrap [type="checkbox"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &:checked+.status-groups__item {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #3E66FB;
      border: 1px solid;
      border-color: #3E66FB;
      color: #3E66FB
    }
  }

  & input {
    border: 1px solid #ccddec;
    border-radius: 4px;
    padding-left: 10px;
    height: 36px;
    width: 100%;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
  }

  & input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    line-height: normal;
  }

  & input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }

  & input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  & [type="checkbox"] {
    display: none;
  }
  

  .form-cell>input {
    border: 1px solid #ccddec;
    border-radius: 4px;
    padding-left: 10px;
    height: 36px;
    width: 100%;
    font-size: 15px;
    appearance: none;
    outline: 0 transparent;

    ::placeholder{ 
      color: #7992a7;
      font-size: 15px;
    }
  }

  .status-groups__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 14px;
    border: 1px solid #3e66fb;
    border-radius: 50px;
    font-size: 15px;
    color: #233b50;
    white-space: nowrap;
  }



  .filter .search-line {
    margin-bottom: 40px;

    &__btn{
      width: 100px;
      padding: 0;
      border: 0;
      border-radius: 0 4px 4px 0;
      background-color: $clr-danger;
      font-weight: 700;
      color: #fff;
      outline: 0;

      @media (max-width: 940px) {
        width: 80px;
      }

      @media (max-width: 640px) {
        position: relative;
        width: 100%;
        height: 36px;
        border-radius: 4px;
      }
    }

    & .select-period{
      width: 200px;
      height: 36px;
      overflow: hidden;

      @media (max-width: 940px){
        width: 33px;
        transition: width .4s;

        &:hover{
          width: 200px;
        }
      }

      @media (max-width: 640px){
        margin-bottom: 55px;
        width: 100%; // !important prüfen
        overflow: visible;
      }

      &.open, .show{ @media (max-width: 940px){ width: 220px; } }

      & label{
        display: none;

        @media (max-width: 640px) {
          display: block;
          margin-bottom: 5px;
          font-size: 13px;
          font-weight: 400;
          color: #233b50;
        }
      }

      & .input-wrap{
        position: relative;
        width: 100%;
        height: 100%;

        & input{
          position: absolute;
          z-index: 3;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding-left: 30px;
          font-weight: 700;
          font-size: 14px;
          color: #233b50;
          border: 1px solid #ccddec;
          background-color: transparent;
          outline: 0 transparent;
        }

        & span{
          color: #8f9bb3;
        }
      }
    }
  }

  .filter .search-line .filter{

    &-number {
      position: relative;
      flex: 1;
    
      & input{
        padding-left: 29px;
        border-radius: 4px 0 0 4px;

        @media (max-width: 640px){ padding-left: 10px; }
      }
    }
    
    &-zip {
      width: 86px;

      @media (max-width: 940px){ width: 75px; }
    }

    &-company {
      width: 300px;

      @media (max-width: 1320px){ width: 140px; }
    }

  }

  

  .filter .search-line .form-cell {
    margin-right: 0;

    input::placeholder{
      color: #7992a7;
      font-weight: 400;

      @media (max-width: 640px){
        color: transparent;
      }    
    }
  }

  .filter .form-cell {
    margin-right: 15px;

    @media (max-width: 640px){
      margin-bottom: 20px;

      &:last-child { margin-bottom: 00; }
    }
  }

  .filter .flex-wrap{
     flex-wrap: wrap;
     
     & .form-cell{ 
      margin-bottom: 20px; 
      
      & .custom-selectt{ margin-bottom: 0; }
    }
  }

  .form-cell {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 25px;
    border: 0;

    & select{
      height: 36px;
      border-radius: 4px;
      font-size: 15px;
      color: #233b50;
      background: #fff;
      outline: 0;
      cursor: pointer;
    }
  }

  .filter .search-line .filter-number .icon-view {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 18px;
    color: #c2d1dc;
  }

  .filter .search-line .form-cell label {
    display: none;

    @media (max-width: 640px){ display: block; }
  }

  .form-cell label {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    //color: #233b50; später prüfen, checkbox+label ändert nicht die Farben, wenn an
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .filter .search-line input {
    display: block;
    padding-left: 5px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    border-radius: 0;

    @media (max-width: 640px){
      padding-left: 10px;
      display: block;
      width: 100% !important;
      border-right: 1px solid #ccddec;
      border-radius: 4px;
    }
  }

  .form-cell input {
    font-size: 15px;
    font-weight: 600;
    color: #233b50;

    &:empty{ color: #233b50; }
  }

  .filter .search-line .filter-number {
    position: relative;
    -ms-flex: 1;
    flex: 1;
  }

  .filter .search-line .filter-number .icon-view {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 18px;
    color: #c2d1dc;

    @media (max-width: 640px){
      display: none;
    }
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled], input:disabled, textarea:disabled {
    background-color: #f3f6f8 !important;
    color: #5c6978 !important;
  }

  .dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
  
  }

  & label.custom-selectt{
    position: relative;
    display: block;
    margin: 0;

    &:hover{
      cursor: pointer;
    }
  }

  & .custom-selectt {
    position: relative;
    display: block;
    margin: 0;
  

    &::after{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #868fab transparent transparent transparent;
      position: relative;
      top: 15px;
      right: 15px;
      bottom: 0;
      pointer-events: none;
      content: "";
    }

    & .dropdown-menu{
      width: 100%;
      margin: 0;
      padding: 12px 12px;
      border-radius: 0;
      max-height: 80vh;
      overflow-y: auto;

      & .head-label { font-weight: 900; }

      & label{
        display: block;
        margin: 0;
        font-weight: 400;
      }
      
      & ul {
        padding: 12px 10px 2px 18px;
        margin: 0;
        list-style: none;
      }

      & li+li { margin-top: 15px; }
    }

    & .show { display: block; }

    & .show>.dropdown-menu { display: block; }

    & select, .select {
      display: inline-block;
      border: 1px solid #ccddec;
      padding: 4px 3px 3px 10px;
      margin: 0;
      font: inherit;
      outline: 0;
      height: 36px;
      border-radius: 4px;
      width: 100%;
      color: #2c323f;
      font-weight: 400;
      font-size: 15px;
      text-align: left;
      appearance: none;
      color: #212323;
      background: #fff;
      transition: all .3s;

      &:hover{
        cursor: pointer;
      }
    }
  }

  & .selected-options {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0;
    border-top: 1px solid #e2eaf0;

    & .options-item{
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: 25px;
      padding-left: 10px;
      margin: 0 10px 10px 0;
      border-radius: 2px;
      font-size: 13px;
      color: #233b50;
      background-color: #e2eaf0;
    }

    & .cancel-filter{
      padding: 5px 10px 5px 10px;
      font-size: 18px;
      cursor: pointer;

    }

  }

  // Starting style contracts

  .contracts-wrap{
    padding: 0 20px 30px;
  }


}

