.dsl_logo{
    height: auto;
    line-height: 47px;

    img{
        max-width: 100%;
            width: auto;
            height: 47px;
    }
}

.provider_name_dsl{
    padding-top: 6px;
    font-size: 14px;
    line-height: 145%;
    font-weight: 400;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #8F9BB3;
    
}

.dsl_logo, .provider_name_dsl{
    text-align: center;

    @media screen and (max-width: 575px){
        text-align: left;
    }
}

.tariff_id_dsl{
    font-size: 10px;
    line-height: 16px;
    background-color: #E5E5E5;
    border-radius: 2px;
    padding: 1px 4px;
}

.acq_commission_wrap_mobil{

    @media screen and (max-width: 575px){
        display: none;
    }

}

.duration_dsl{
    padding-top: 14px;
    padding-bottom: 4px;
    line-height: 16px;
    max-width: 300px;

    .kalender_wrap{
        padding-right: 10px;
    }

    .features_icon_wrap{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .kalender_icon_mobil, .wifi_icon_mobil, .netz_icon_mobil{
        width: 16px;
        height: 16px;
        
        img{
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }



    div:first-child{
        border-right: 1px solid #8F9BB3;;
    }

    .term_mobil{
        font-size: 10px;
        line-height: 16px;
        padding-left: 12px;
        color: #8F9BB3;

        
        @media screen and (max-width: 1278px){
        padding-left: 0px;
        }
            

    }
}

.tarif-info-title-dsl{
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    line-height: 18px;
    max-width: 85px;

    @media screen and (max-width: 1526px){
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        padding: 10px 0px 0px 0px;
    }

}

.tarif-info-icon-dsl{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 14px;

    >i, img, span{
        max-height: 13px;
        height: 13px;
        line-height: 13px;                
    }  
     
    .lte{
        font-size: 10px;
        font-family: Roboto;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        background: #2A53CC;
        border-radius: 2px;
        padding-left: 4px;
        padding-right: 4px;
    }

}

.tarif-info-icon-features{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 0px 0px;
    margin: 0px 13px;

    @media screen and (max-width: 1526px){
        display: none;
    }

}

.tarif-info-group-dsl{
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}


.tarif-info-wrap-dsl{

    &.last-block{
        /* No less than 576px, no greater than 650px */
        @media (min-width:576px) and (max-width:650px){
            display:none;
        }
    }
}

.btn1-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;

    .btn1-inside{
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px 0px;
    }
}

.btn1-wrap-medium{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;

    .btn1-inside{
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px 0px;
    }
}

.btn1-wrap-small{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    

    .btn1-inside{
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px 0px;
    }
}

.btn1-wrap-setup{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;

    /* Transparent Success / 8% */

    background: rgba(84, 188, 43, 0.08);
    /* Success / 500 - Default */

    border: 1px solid #54BC2B;
    box-sizing: border-box;
    border-radius: 4px;

    .btn1-inside{
        order: 0;
        flex-grow: 1;
        margin: 0px 0px;

        
    }
}

.icon-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}



.btn1-text{
    position: static;
    height: 16px;
    left: 8px;
    right: 8px;
    top: calc(50% - 16px/2);

    
    /* Button Font AA/ Small */

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    text-transform: uppercase;

    /* Success / 500 - Default */

    color: #54BC2B;



    .btn1-inside{
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;

        img{
            padding-left: 10px;
            margin-bottom: 5px;
        }

        .text1{
            //display: block;
            border-right: 10px;
        }
    }
}

