.home{

  &.title :any(h5){ font-size: 1.07rem; }



  .congratulation-medal {
    position: absolute;
    top: 0;
    right: 37px;
  }

  .font-small-2 {
    font-size: .8rem;
    color: white;
  }












}