.tarif-card-wrapp{
    &.mobile{
        .first-block-wrapp{
            padding: 15px;   
            
            .first-block-1, .first-block-2{
                border-right: 1px dashed #C5CEE0;
            }
        }
        .m_logo{
            height: 52px;
            line-height: 52px;

            img{
                max-width: 191px;
                //width: 100%;
                max-height: 52px;
                //height: 100%;
            }
        }

        .first-block-2-1-row-mobile{
            padding-bottom: 20px;
        }

        .first-block-2-col-mobil-border{
            border-left: 1px solid #8F9BB3;
            border-right: 1px solid #8F9BB3;
        }

        .tarif-info-wrap-mobile{
            display: flex;
            color: #2E3A59;
            max-width: 97px;
        }
        .tarif-info-icon-mobile{
            line-height: 32px;
            >i, img, span{
                max-height: 13px;
                height: 13px;
                line-height: 13px;                
            }  
            
            .lte{
                font-size: 10px;
                font-family: Roboto;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                background: #2A53CC;
                border-radius: 2px;
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        .tarif-info-title-mobile{
            font-family: Roboto;
            font-size: 14px;
            line-height: 16px;
            max-width: 68px;
            padding-left: 10px;
        }

        .tarif-atr-wrap-mobile{
            ul{
                list-style: none;
                padding-left: 0;
            }
            li{
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                &.warning{
                    color: #85080F;
                }

                span{
                    font-size: 20px;
                    margin-top: -3px;
                    padding-right: 3px;
                }

            }
            
        }
    }
}

.duration_mobile{
    padding-top: 14px;
    padding-bottom: 4px;
    line-height: 16px;

    .kalender_icon_mobil, .wifi_icon_mobil, .netz_icon_mobil{
        width: 16px;
        height: 16px;
        
        img{
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }

    .wifi_icon_mobil{
        margin-left: -9px;
    }

    .netz_icon_mobil{
        margin-left: 12px;
    }

    div:first-child{
        border-right: 1px solid #8F9BB3;;
    }

    .term_mobil{
        font-size: 10px;
        line-height: 16px;
        padding-left: 12px;
        color: #8F9BB3;
    }
}

.tariff_name_mobile{
    padding-top: 18px;
    font-size: 14px;
    line-height: 145%;
    font-weight: 400;
    font-family: Roboto;
    color: #2E3A59;

    .tariff_id{
        font-size: 10px;
        line-height: 16px;
        background-color: #E5E5E5;
        border-radius: 2px;
        padding: 1px 4px;
    }
}


.acq_commission_wrap_mobil{
    flex: 1;
    text-align: end;

    .acq_commission_tittle{
        text-transform: uppercase;
        font-family: Roboto;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #2E3A59;
    }   

    @media screen and (max-width: 767px){
        display: flex;
    }
}

